 .responsive {
	max-width:100%;
}

 .ui-autocomplete,
 .ui-autocomplete-list { 
	max-height: 200px; overflow-y: auto;
 }
.tmdialog,
#tmdialog{
	/* 
	margin:5% 30% 30% 30%;
	max-width: 500px;
	width: 100%;	
	*/
	margin:auto;
	max-width: 100%;
	min-height: 200px;
	position:fixed;
	z-index:1002;
	display: none;
	background: white;	
	top:0px;
	left:0px;
	
}

.tmdialog-body,
#tmdialog-body{
	font-size: 10pt;
	padding: 20px;	
	height: 80%;
	max-height: 500px;	
	overflow:auto;
}

.tmdialog-footer,
#tmdialog-footer{
	background: #fff;
	text-align:right;
	padding:5px;
}
.tmdialog-btn-close{	
	background: #e74c3c;
}
.tmdialog-btn-close,
.tmdialog-btn-open {
	height: 30px;
	width: 100px;
	color: #fff;
	border: 0px;
}

.tmdialog-cover,
#tmdialog-cover{
	opacity:.80;
	position: absolute;
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index:1001;
	opacity: 0.8;
}

.tmdialog-btn-open {
	background: #e74c3c;        
}

.stdn {
	display:none;
}

.tjlhd {
	text-align: right;
	padding-right: 5px;
}

/*doubel border bottom line 1 */
.bb2:after{
   content: ' ';
   display: block;
   height:1px;
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
   width: 100%;
}

/*doubel border bottom line 2*/
.bb2b:after{
   content: ' ';
   display: block;
   height:1px;
   border-top: 1px solid #000;
   border-bottom: 2px solid #000;
   width: 100%;
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #337ab7;
}

.ui-accordion .ui-accordion-content {
    padding: 0px;
}

.ui-icon-closethick {
    display: none;
}


.ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-draggable ui-resizable {
  z-index:999999;
	
}
.ui-dialog .ui-dialog-titlebar-close {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/aui/6.0.1/aui/css/icons/aui-icon-close.png);
  z-index:999999;
  background-size: cover;
}